{% extends 'base.html' %}
{% load static %}

{% block ext_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'app/help/css/help.css' %}">
{% endblock %}



{% block content %}
    <div class="container-fluid">
        <div class="row-fluid keymap">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                        <a class="navbar-brand" href="{% url 'app:home' %}">W-A</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" id="nav_ul">
                            {#                                <li></li>#}
                            <li><a href="{% url 'app:home' %}">主页</a></li>
                            <li>
                                <a href="{% url 'app:rank_list' %}">排行榜</a>
                            </li>
                            <li>
                                <a href="{% url 'app:search' %}">公众号搜索</a>
                            </li>
                            <li>
                                <a href="{% url 'app:follow_list' %}">个人订阅</a>
                            </li>
                            <li>
                                <a href="{% url 'app:vip' %}">会员中心</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'app:help' %}">帮助</a>
                            </li>

                        </ul>

                        {% if icon %}

                            <ul class="nav navbar-nav navbar-right">

                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        <img src="{{ icon }}" alt="{{ username }}"/>
                                    </a>

                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'app:person' %}">个人中心</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'app:logout' %}">退出登录</a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#" class="login_in">登录/注册</a>
                                </li>

                            </ul>
                        {% endif %}

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>


        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row-fluid">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <img alt="140x140" class="img-center" src="{% static 'img/sun_big.png' %}"/>
                <p class="lead text-center">
                    <em>有任何问题可以关注公众号进行咨询 <p style="text-align: center">{{ now_time }}</p></em>
                </p>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>


    {#    </div>#}
{% endblock %}